@font-face {
    font-family: FiraGo;
    src: url('../font/FiraGO-Regular.ttf');
}

@font-face {
    font-family: Prata;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}

@font-face {
    font-family: light;
    src: url("../font/FiraGO-Light.ttf");
}

@font-face {
    font-family: ragac;
    src: url('../font/alk-sanet.ttf');
}

@font-face {
    font-family: caps;
    src: url('../font/caps.ttf');
}

body {
    background-color: #141519;
    max-width: 1920px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #FFF
}

.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation_list {
    width: 550px;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.navigation_list li {
    display: flex;
}

.navigation_list li a {
    color: #FFF;
    font-family: caps, sans-serif;
    text-transform: uppercase;
}

.navigation_list li:hover {
    border-bottom: 2px solid #aa926b;
}
body > header > nav > ul:nth-child(1) > li:nth-child(5) > a {
    border-bottom: 2px solid #aa926b;
}
body > header > nav > ul:nth-child(1) > li:nth-child(5) > a:hover {
    border-bottom: 2px solid transparent;
}


.logo {
    width: 100px;
}

section {
   margin-top: 100px;
  
      
}
p {
    font-size: 18px;
    font-family: light, sans-serif;
    width: 90%;
}



.hero_image {
    width: 100%;
    height: calc(100vh);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    object-fit: cover;
}

.overlay_image{
    width: 100%;
    height: calc(100vh);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    opacity: 0.99;
}




.burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    right: 40px;
    top: 20px;
    width: 20px;
    z-index: 8;
    }
.burger_item  {
    display: block;
    width: 25px;
    height: 3px;
    background-color:#aa926b;
    border-radius: 5px;
    transition: 0.3s ease;
    margin-right: 15px
    }
    


    .change #menu {
background-color: gray;

}
#bar1 {
transform: translateY(-3px);
}
#bar3 {
transform: translateY(3px);
}


.change #bar1{
 
transform: translateY(3px) rotateZ(-45deg);

}

.change #bar3 {

transform: translateY(-3px)  rotate(45deg);

}
.change #bar2 {
opacity: 0;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #141519;
    z-index: 7;
    overflow: hidden;
   
}

.burger_list {
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

}

.burger_list li a {
    color: #aa926b;
    font-family: caps, sans-serif;
}
/* footer */

.footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_nav ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer_nav ul li a {
    transition: color 300ms ease;
    font-family: caps, sans-serif;
    font-size: 1vw;
}

.footer_nav ul li a:hover {
    color: #aa926b;
    transition: color 300ms ease;
}



.foricons {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}



  .hotline a {
      font-family: FiraGo, sans-serif;
  }
 
  
.hotline a {
    font-family: FiraGo, sans-serif;
}
.address span {
    font-family: caps, sans-serif;
}
.hotline span {
    font-family: caps, sans-serif;
}


@media only screen and (min-width: 0px) {

    .burger {
        display: flex;
    }
    .logo_div {
        width: 50px;
    }

    .navigation {
        display: none;
    }
    .logo_image{
        height: 45%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
        margin-top: 70px;
    }
    .logo_div {
        width: 50px;
    }
  
  
    .footer_nav {
       display: none;
    }
    .contact {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;    
    }
    .media_icons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .address_hotline {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: space-around;
    }
    .copyright {
        font-family: FiraGo, sans-serif;
        font-size: 15px;
        }
    
        .address {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-style: normal;
            font-family: FiraGO, sans-serif;
            margin-bottom: 10px;
        }
        address {
            font-style: normal;
            font-family: FiraGO, sans-serif;
            font-size: 15px;
          }
          
.hotline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burger_logo{
    display: block;
    width: 40px;
    margin-left: 15px;
}
/* here */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article img {
    width: 85%;
    padding-bottom: 5px;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 25px;
    /* width: 100%; */
}

article :nth-child(2){
    order: 1;
}
article :nth-child(1){
    order: 2;
}

.first_div > img {
    display: none;
}

.article_h1 {
    font-family: caps, sans-serif;
    font-size: 18px;
    color: #141519;
    padding-bottom: 35px;
}

.news_h1 {
    display: inline-block;
    width: 170px;
    font-family: caps, sans-serif;
    font-size: 25px;
    border-bottom: 2px solid #aa926b;
    padding-bottom: 15px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}


.text {
    padding: 5px;
    background-color: #FFF;
    width: 85%; 
    text-align: center;
    
}

.span_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
}
.span_div span {
    color: #141519;
    font-size: 12px;
}
.p_span1, .p_span2 {
    color: #141519;
    font-family: ForaGo, sans-serif;
    font-size: 17px;
    margin: 0;
}

.p_span2 {
display: none;
}
.article_p {
    padding-bottom: 20px;
    font-family: FiraGo, sans-serif;
    text-align: center;
}
.full_wiev {
    display: inline-block;
    color: #141519;
    background-color: #debd7a;
    width: 95%;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: caps, sans-serif;
    text-align: center;
}
/* here */
    
}


@media only screen and (min-width: 481px) {

  


    .burger {

        display: none;
        }
        
        .navigation {
            display: flex;
        }
        .navigation_list li a {
            color: #FFF;
            font-family: caps, sans-serif;
            text-transform: uppercase;
            font-size: 18px;
        }
        .burger_logo{
            display: none;
            width: 40px;
            margin-left: 15px;
        }
        .logo_image{
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -2;
            margin-top: 70px;
        }
     
       
    
        .footer_nav {
            width: 65%;
            display: flex;
            justify-content: center;
            border-top: 1px solid #3c3d3f;
            border-bottom: 1px solid #3c3d3f;
            padding: 20px 20px;
        }
        
        .contact {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;    
        }
        .media_icons {
            width: 550px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0px;
        }
        .address_hotline {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .copyright {
            font-family: FiraGo, sans-serif;
            font-size: 16px;
            }

            .address {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-style: normal;
                font-family: FiraGO, sans-serif;
                margin-bottom: 0px;

            }
            address {
                font-style: normal;
                font-family: FiraGO, sans-serif
              }
              
.hotline {
    display: flex;
    flex-direction: column;
}

/* here */

section {
    
        display: flex;
        flex-direction: row;  
        align-items: flex-start;
        width: 100%;
}
.first_div {
    height: 550px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 150px;
    align-items: center;

}

article img {
    width: 65%;
    padding-bottom: 5px;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 150px;
    margin-bottom: 25px;
}

article :nth-child(2){
    order: 1;
}
article :nth-child(1){
    order: 2;
}

.article_h1 {
    font-family: caps, sans-serif;
    font-size: 25px;
    color: #141519;
    padding-bottom: 35px;
}

.news_h1 {
    display: inline-block;
    width: 145px;
    font-family: caps, sans-serif;
    font-size: 25px;
    border-bottom: 2px solid #aa926b;
    padding-bottom: 15px;;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.text {
    padding: 50px;
    background-color: #FFF;
    width: 65%; 
    text-align: center;
    
}

.span_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
}
.span_div span {
    color: #141519;
    font-size: 16px;
}
.p_span1, .p_span2 {
    color: #141519;
    font-family: FiraGo, sans-serif
}

.p_span2 {
display: none;
}
.article_p {
    padding-bottom: 20px;
    font-family: FiraGo, sans-serif;
    text-align: start;
}
.full_wiev {
    display: inline-block;
    color: #141519;
    background-color: #debd7a;
    width: 95%;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: caps, sans-serif;
    text-align: center;
}
.first_div > img {
    display: block;
}

/* here */
}


@media screen and (min-width: 290px) and (max-width: 350px) {

    .copyright {
        font-family: FiraGo, sans-serif;
        font-size: 13px;
    }
    address {
        font-style: normal;
        font-family: FiraGO, sans-serif;
        font-size: 14px;
    }
    .imageblock {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 320px;
    }
    .logo_image {
        height: 30%;
    }
}

@media screen and (min-width: 351px) and (max-width: 410px) {
    .imageblock {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 370px;
    }
    .logo_image {
        height: 30%;
    }


}

@media screen and (max-width: 1150)and (max-width: 1500px)  {

    .wine_images{
        width: 70%;
    }
    .wine_images li img {
   
        width: 100px;
        margin: 15px;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {

    /* navigation & lower nav */
    .navigation_list li a {
        font-size: 12px;
    }
    .navigation_list {
        justify-content: space-around;
    }
    .footer_nav {
        width: 85%;
    }
    .footer_nav ul li a {
        font-size: 1.35vw;
    }
    .copyright {
        text-align: center;
    }
      /* navigation & lower nav */
      .contact {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .media_icons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .foricons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .address_hotline {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    .address span {
        font-family: caps, sans-serif;
    }
    .footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .address {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    /* footer Resonsive */
    .logo_image{
        height: 50%;
    }
    .first_div {
        margin-left: 25px;
    }
    article {
        margin-left: 35px;
    }
    article img {
        width: 90%;
    }
    .text{
        width: 90%;
        padding: 22px;
    }
    }


@media screen and (min-width: 801px) and (max-width: 1100px) { 
     /* navigation & lower nav */
     .navigation_list li a {
        font-size: 12px;
    }
    .navigation_list {
        justify-content: space-around;
    }
    .footer_nav {
        width: 85%;
    }
    .footer_nav ul li a {
        font-size: 1.35vw;
    }
    .copyright {
        text-align: center;
    }
      /* navigation & lower nav */
      .contact {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .media_icons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .foricons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .address_hotline {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    .address span {
        font-family: caps, sans-serif;
    }
    .footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .address {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    /* footer Resonsive */
    .logo_image{
        height: 50%;
    }
    .first_div {
        margin-left: 25px;
    }
    article {
        margin-left: 35px;
    }
    article img {
        width: 90%;
    }
    .text{
        width: 90%;
        padding: 22px;
    }
    }


