@font-face {
    font-family: FiraGo;
    src: url("../font/FiraGO-Regular.ttf");
}
@font-face {
    font-family: Prata;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}

@font-face {
    font-family: light;
    src: url('https://free.bboxtype.com/embedfonts/?family=FiraGO:200');
   
}

body {
    background-color: #141519;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #FFF
}

.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.navigation_list {
    width: 550px;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.navigation_list li {
    display: flex;
}

.navigation_list li a {
    color: #FFF;
    text-transform: uppercase;
}

.navigation_list li:hover {
    border-bottom: 2px solid #aa926b;
}

.logo {
    width: 100px;
}

.hero {
    width: 100%;
    height: calc(100vh - 100px)
}

.hero_div {
    position: relative;
    top: 250px;
    left: 250px;
    height: 250px;
    width: 550px;
}

.hero_h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: Prata sans-serif;
}

.hero_span {
    color: #aa926b;
    font-family: light sans-serif;
}

.hero_p {
    margin-bottom: 100px;
}

.hero_p::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #aa926b;
    position: relative;
    left: -150px;
    top: 10px;
}

.hero_image {
    width: 100%;
    height: calc(100vh);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.see_more {
    border: 1px solid #aa926b;
    padding: 15px;
    margin-top: 50px;
    position: relative;
    left: 100px;
    transition: background-color 300ms ease;
}

.see_more:hover{
    background-color: #aa926b;
    color: #141519;
    transition: background-color 300ms ease;
}

/* About Section start */

.about {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.about_h2 {
    font-size: 45px;
}

.about_h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #aa926b;
    position: relative;
    left: 130px;
    top: 25px;
}

.about_list {
    display: flex;
    width: 1000px;
}

.about_list li {
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wine_mukuzani {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.wines_div1 {
    width: 55%;
    background-color: #1e212a;
}

.mukuzani {
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.mukuzani>span {
    margin-left: 100px;
    color: #aa926b;
}

.mukuzani>h2 {
    margin-left: 100px;
}

.mukuzani>h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #aa926b;
    position: relative;
    top: 40px;
}

.mukuzani>p {
    margin-left: 100px;
}

.wine_xvanchkara {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.wines_div2 {
    width: 55%;
    background-color: #020202;
}

.xvanchkara {
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.xvanchkara>span {
    margin-left: 100px;
    color: #aa926b;
}

.xvanchkara>h2 {
    margin-left: 100px;
}

.xvanchkara>h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #aa926b;
    position: relative;
    top: 40px;
}

.xvanchkara>p {
    margin-left: 100px;
}

.xvanchkara>a {
    display: flex;
    align-self: flex-end;
    border: 1px solid #aa926b;
    padding: 15px;
    margin-top: 50px;
    position: relative;
    right: 100px;
    transition: background-color 300ms ease;
}
.xvanchkara>a:hover {
    background-color: #aa926b;
    color: #141519;
    transition: background-color 300ms ease;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products_div {
    width: 650px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-around;
    align-items: center;
}

.products_div h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #aa926b;
    position: relative;
    top: 55px;
    left: 50px;
}

.products_list {
    width: 550px;
    display: flex;
    justify-content: space-between;
    transition: color 300ms ease;
}

.products_list li a:hover {
    color: #aa926b;
    transition: color 300ms ease;
}


/* slider */

.swiper-container {
    width: 100%;
    /* height: 100%; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: black
}


/* slider */

.video {
    position: relative;
    height: 700px;
    width: 100%;
    margin-top: 70px;
}

.video>img {
    /* height: 500px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.news_div {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 85%;
}

.news {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.news ul {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.news ul li {
    width: 290px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    justify-content: space-between;
}

.news ul li img {
    width: 250px;
}

.news ul li p {
    width: 250px;
}

.news-h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #aa926b;
    position: relative;
    top: 25px;
    left: 30px;
}

.up::before {
    content: url('../images/down.png');
    position: relative;
    top: -15px;
    left: 26px;
    transform: rotate(180deg);
}

.footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_nav {
    width: 65%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #3c3d3f;
    border-bottom: 1px solid #3c3d3f;
    padding: 20px 20px;
}

.footer_nav ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_nav ul li a {
    transition: color 300ms ease;
}

.footer_nav ul li a:hover {
    color: #aa926b;
    transition: color 300ms ease;
}
.contact {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.media {
    width: 400px;
    display: flex;
    align-items: center;
}

.fb {
    display: flex;
    width: 100px;
}

.hotline {
    display: flex;
    flex-direction: column
}

.address_hotline {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media_icons {
    width: 550px;
    display: flex;
    justify-content: space-between;
}