@font-face {
    font-family: FiraGo;
    src: url('../font/FiraGO-Regular.ttf');
}

@font-face {
    font-family: Prata;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}

@font-face {
    font-family: light;
    src: url("../font/FiraGO-Light.ttf");
}

@font-face {
    font-family: ragac;
    src: url('../font/alk-sanet.ttf');
}

@font-face {
    font-family: caps;
    src: url('../font/caps.ttf');
}

body {
    background-color: #141519;
    max-width: 1920px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #FFF
}

.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation_list {
    width: 550px;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.navigation_list li {
    display: flex;
}

.navigation_list li a {
    color: #FFF;
    font-family: caps, sans-serif;
    text-transform: uppercase;
}

.navigation_list li:hover {
    border-bottom: 2px solid #aa926b;
}

.logo {
    width: 100px;
}

.hero {
    width: 100%;
    height: calc(100vh - 100px)
}





.hero_span {
    color: #aa926b;
    font-family: caps, sans-serif;
    font-size: 12px;
}






.see_more {
    border: 1px solid #aa926b;
    padding: 15px;
    margin-top: 50px;
    position: relative;
    left: 100px;
    transition: background-color 300ms ease;
    font-family: caps, sans-serif
}

.see_more:hover {
    background-color: #aa926b;
    color: #141519;
    transition: background-color 300ms ease;
}


/* About Section start */

.about_list li h3 {
    font-family: caps, sans-serif;
}

.mukuzani {
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}






.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.products_div h2 {
    font-family: caps, sans-serif;
}



.products_list {
    width: 550px;
    display: flex;
    justify-content: space-between;
    transition: color 300ms ease;
}

.products_list li a {
    font-family: caps, sans-serif;
}

.products_list li a:hover {
    color: #aa926b;
    transition: color 300ms ease;
}


/* slider */

.swiper-container {
    width: 80%;
}

.swiper-button-prev:after {
    color: #FFF;
}

.swiper-button-prev:hover::after {
    color: #aa926b;
}

.swiper-button-next:after {
    color: #FFF;
}

.swiper-button-next:hover::after {
    color: #aa926b;
}

.slider_span {
    display: block;
    color: #FFF;
    margin-top: 15px;
    font-family: light, sans-serif;
}

.first_after {
    content: 'მუკუზანი';
    top: 80px;
}


/* slider */





.news_div {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 85%;
}



.news-h2 {
    font-family: caps, sans-serif;
}





.news ul li img {
    width: 250px;
   
}

.news ul li p {
    width: 250px;
    font-family: light, sans-serif;
}
.news ul li span {
    font-family: light, sans-serif;
}



.up::before {
    content: url('../images/down.png');
    position: relative;
    top: -15px;
    left: 26px;
    transform: rotate(180deg);
}




.footer_nav ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_nav ul li a {
    transition: color 300ms ease;
    font-family: caps, sans-serif;
}

.footer_nav ul li a:hover {
    color: #aa926b;
    transition: color 300ms ease;
}

.contact {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.media {
    width: 100%;
    display: flex;
    align-items: center;
}

.fb {
    display: flex;
    width: 100px;
}

.hotline {
    display: flex;
    flex-direction: column
}
.hotline span {
    font-family: caps, sans-serif;
}




.news ul li {
    width: 290px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news ul li p {
    text-align: center;
}

.mukuzani>h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #aa926b;
    position: relative;
    top: 40px;
    left: 10px;
}

.swiper-pagination-bullet-active {
    background: #aa926b
}



@media only screen and (min-width: 0px) {

  
    .navigation {
        display: none;
    }
    .swiper-pagination {
        display: block;
        top: 160px;
    }
  

    

    .hero_div {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       
    }
    
    .hero_p {
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: FiraGo, sans-serif;
        font-size: 12px;
    }
  
  

    .see_more {
        display: inline-block;
        left: 0px;
        width: 150px;
    }
    .hero {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 100%;
        height: 350px;
        font-family: FiraGo, sans-serif;
        font-size: 20px;
        

    }
    .hero_p::before {
        content: "";
        display: none;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        left: -150px;
        top: 10px;
    }
    .hero_image {
        width: 100%;
        height:480px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        object-position: right;
        text-align: center;
    }
    .hero_h1 {
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 30px;
        font-family: Prata, sans-serif;
    }
    
    .about {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 70px;
    }
    .about_h2 {
        font-size: 26px;
        font-family: caps, sans-serif;
        letter-spacing: 2px;
    }
    .about_h2::after {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        left: 110px;
        top: 25px;
    }

    .about_list li {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .wine_mukuzani {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 480px;

    }
    
    .wine_mukuzani img {
        width: 100%;
     }
    .wines_div1 {
      background-color: #1e212a;
    }
   


    .mukuzani {
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       
        
    }
     

     .wine_xvanchkara {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }
    .xvanchkara {
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .swiper-button-next::after {
        display: none;
    }
    .swiper-button-prev::after {
        display: none;
    }
    .products_list {
        display: none;
    }
    .products_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: space-around;
        align-items: center;
    }
    .video {
        position: relative;
        height: 200px;
        width: 100%;
        margin-top: 70px;
    }
    .video>img {
   
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        object-fit: cover;
        align-items: center;
    }
    .news ul {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1500px;
        
    }
    .news {
        height: 1380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    .footer_nav {
        display: none;
    }

    .contact {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .media_icons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .foricons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .address_hotline {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    .address span {
        font-family: caps, sans-serif;
    }
    .footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mukuzani>p {
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }
    .mukuzani>h2 {
        margin-left: 0px;
        font-family: caps, sans-serif;
        
    }
    .mukuzani>span {
        margin-left: 0px;
        color: #aa926b;
    }

    .about_list p {
        width: 200px;
        font-family: light, sans-serif;
    }
    .xvanchkara>span {
        margin-left: 0px;
        color: #aa926b;
    }
    
    .xvanchkara>h2 {
        margin-left: 0px;
        font-family: caps, sans-serif;
    }
    
    .xvanchkara>h2::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 40px;
        left: 22px;
    }
    
    .xvanchkara>p {
        margin-left: 0px;
        width: 100%;
        text-align: center
    }
    .xvanchkara>a {
        display: flex;
        align-self: center;
        border: 1px solid #aa926b;
        padding: 15px;
        margin-top: 50px;
        position: relative;
        transition: background-color 300ms ease;
        font-family: caps, sans-serif;
    }
    
    .xvanchkara>a:hover {
        background-color: #aa926b;
        color: #141519;
        transition: background-color 300ms ease;
    }
    .wine_xvanchkara img {
        width: 100%;
    }
    .see_more1 {
        border: 1px solid #aa926b;
        padding: 15px;
        margin-top: 50px;
        position: relative;
        left: 0px;
        transition: background-color 300ms ease;
        font-family: caps, sans-serif
    }
    .see_more1:hover {
        background-color: #aa926b;
        color: #141519;
        transition: background-color 300ms ease;
    }
    .news-h2::after {
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 10px;
        left: 45px;
    }
    .products_div h2::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 55px;
        left: 80px;
    }
    /*burger menu*/



	.burger {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        right: 40px;
        top: 20px;
        width: 20px;
        z-index: 8;
		}
	.burger_item  {
		display: block;
		width: 25px;
		height: 3px;
		background-color:#aa926b;
		border-radius: 5px;
		transition: 0.3s ease;
		margin-right: 15px
        }
        


		.change #menu {
	background-color: gray;

}
#bar1 {
	transform: translateY(-3px);
}
#bar3 {
	transform: translateY(3px);
}


.change #bar1{
	 
	transform: translateY(3px) rotateZ(-45deg);
	
	}

.change #bar3 {
	
	transform: translateY(-3px)  rotate(45deg);
	
}
.change #bar2 {
	opacity: 0;
}
    .overlay {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #141519;
        z-index: 7;
        overflow: hidden;
       
    }

    .burger_list {
        height: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        

    }

    .burger_list li a {
        color: #aa926b;
        font-family: caps, sans-serif;
    }

address {
    font-style: normal;
    font-family: FiraGO, sans-serif
  }
  .copyright {
    font-family: FiraGo, sans-serif;
}
.hotline a {
    font-family: FiraGo, sans-serif;
}


}

@media only screen and (min-width: 481px) {
 
    .navigation {
        display: flex;
    }
    .swiper-pagination {
        display: none;
    }
    .hero_div {
        display: block;
        position: relative;
        top: 250px;
        left: 250px;
        height: 250px;
        width: 550px;
    }
    
    .hero_p {
        margin-left: 150px;
        margin-bottom: 100px;
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
    }
    .wines_div2 {
        width: 100%;
        background-color: #020202;
    }

   
    
    .hero {
        width: 100%;
        height: calc(100vh - 100px);
        display: block;
        
    }
    .hero_p::before {
        content: "1  ";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        left: -150px;
        top: 10px;
        color: transparent;
        z-index: 5
    }
    .hero_image {
        width: 100%;
        height: calc(100vh);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }
    .hero_h1 {
        font-size: 63px;
        margin-top: 25px;
        margin-bottom: 30px;
        font-family: Prata, sans-serif;
    }
    

    .about {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 70px;
    }
    .about_h2 {
        font-size: 45px;
        font-family: caps, sans-serif;
        letter-spacing: 2px;
    }

    .about_list {
        display: flex;
       
    }
    .about_list li {
        height: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wine_mukuzani {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        height: 290px;
    }
  


    .wines_div1 {
        width: 55%;
        background-color: #1e212a;
    }
    
   
    
    .mukuzani {
        /* height: 290px; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 93%;
    }
    .wine_xvanchkara {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }
    .wines_div2 {
        width: 55%;
        background-color: #020202;
    }
    .xvanchkara {
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .swiper-button-next::after {
        display: block;
    }
    .swiper-button-prev::after {
        display: block;
    }
    .products_list {
        display: flex;
        width: 550px;
        justify-content: space-between;
        transition: color 300ms ease;
    }
    .products_div {
        width: 650px;
        display: flex;
        flex-direction: column;
        height: 350px;
        justify-content: space-around;
        align-items: center;
    }
    .video {
        position: relative;
        height: 700px;
        width: 100%;
        margin-top: 70px;
    }
    .video>img {
   
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .news ul {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .news {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .news ul li {
        width:320px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }
    .news ul li p {
        text-align: left;
    }
    .footer_nav {
        width: 65%;
        display: flex;
        justify-content: center;
        border-top: 1px solid #3c3d3f;
        border-bottom: 1px solid #3c3d3f;
        padding: 20px 20px;
    }
    .contact {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .media_icons {
        width: 550px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .address_hotline {
        /* height: px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .media {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }
    .address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .wine_mukuzani img {
       width: 585px;
    }
    .mukuzani>p {
        margin-left: 100px;
        text-align: start;
        width: 580px;
        font-family: light, sans-serif;
    }
    .mukuzani>h2 {
        margin-left: 100px;
        font-family: caps, sans-serif;
        text-align: start;
    }
    .mukuzani>h2::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 40px;
        left: 0px;
    }
    
    .more_mukuzani {
        margin-left: 100px;
     
    }
    .mukuzani>span {
        margin-left: 100px;
        color: #aa926b;
    }
    
    .about_list p {
        width: 250px;
    }
    
    .xvanchkara>span {
        margin-left: 100px;
        color: #aa926b;
    }
    
    .xvanchkara>h2 {
        margin-left: 100px;
        font-family: caps, sans-serif;
    }
    
    .xvanchkara>h2::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 40px;
        left: 0px;
    }
    
    .xvanchkara>p {
        margin-left: 100px;
        width: 580px;
        text-align: start;
        font-family: light, sans-serif
    }
    .xvanchkara>a {
        display: flex;
        align-self: flex-end;
        border: 1px solid #aa926b;
        padding: 15px;
        margin-top: 50px;
        position: relative;
        right: 100px;
        transition: background-color 300ms ease;
        font-family: caps, sans-serif;
    }
    
    .xvanchkara>a:hover {
        background-color: #aa926b;
        color: #141519;
        transition: background-color 300ms ease;
    }
    .wine_xvanchkara img {
        width: 585px;
    }
    .about_h2::after {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        left: 210px;
        top: 25px;
    }
    .see_more1 {
        border: 1px solid #aa926b;
        padding: 15px;
        margin-top: 50px;
        position: relative;
        left: 150px;
        transition: background-color 300ms ease;
        font-family: caps, sans-serif
    }
    .see_more1:hover {
        background-color: #aa926b;
        color: #141519;
        transition: background-color 300ms ease;
    }
    .news-h2::after {
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 20px;
        left: 45px;
    }
    .products_div h2::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 55px;
        left: 80px;
    }
    .burger {
        display: none;	
     }
     .news-h2 ul li img {          
        width: 250px;
     }
     address {
        font-style: normal;
        font-family: FiraGO, sans-serif
      }
      .copyright {
          font-family: FiraGo, sans-serif;
      }
      .hotline a {
          font-family: FiraGo, sans-serif;
      }

     
}




@media screen and (min-width: 290px) and (max-width: 350px) {
    .swiper-pagination {
        display: block;
        
    }
    .wine_mukuzani img {
        width: 100%;
    }
    .wine_xvanchkara img{
        width: 100%;
    }
    .hero_p {
        font-size: 12px;
    }
    .about_h2 {
        font-size: 23px;
    } 
    .about_h2::after{
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        left: 80px;
        top: 25px;
        
    }
    .products_div h2{
        font-size: 23px;
    }
    .products_div h2::before{
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #aa926b;
        position: relative;
        top: 55px;
        left: 70px;
    }
    .copyright {
        font-size: 12px;
    }
    address{
        font-size: 12px;
    }
    .hotline span {
        font-size: 14px;
    }
}
 








